@import "tailwindcss";

@layer utilities {
  .vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .vertical-lr {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .transition-width {
    transition: width 1s ease-in-out;
  }

  .transition-left {
    transition: left 1s ease-in-out;
  }
}

@font-face {
  font-family: benzin;
  src: url(./benzin-semibold.otf);
}

@font-face {
  font-family: berlinerins;
  src: url(./Berlinerins.otf);
}

@font-face {
  font-family: jost;
  src: url(./Jost.ttf);
}

@theme {
  --font-display: "benzin", "sans-serif"; 
  --color-grey: oklch(0.23 0 0);
  --color-figma-green: oklch(0.6 0.0695 164.71);
  --text-shadow-xl: 0 35px 35px rgb(255, 255, 255 / 0.25);
}

#app {
  max-width: 1240px;

  margin: 0 auto;
  font-weight: 800;
  background-color: #1F1F1F;
  font-family: jost;
}

body {
  background-color: var(--color-grey);
}

@media (max-width: 420px) {
  body, p, h1, h2, h3, h4, h5, h6, button, input, span, a, table, tbody  {
    font-size: 70%; /* уменьшение на 30% */
  }
}

@media (min-width: 2800px) {
  body, p, h1, h2, h3, h4, h5, h6, button, input, span, a  {
    font-size: 150%; /* уменьшение на 30% */
  }
  #app {
    max-width: 2480px;
  }
}